<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

  <!-- Permiso para acceder a la cámara -->
    <key>NSCameraUsageDescription</key>
    <string>Esta aplicación necesita acceder a la cámara para tomar videos.</string>

    <!-- Permiso para acceder al micrófono -->
    <key>NSMicrophoneUsageDescription</key>
    <string>Esta aplicación necesita acceder al micrófono para grabar audio en los videos.</string>

    <!-- Permiso para acceder a la biblioteca de fotos -->
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Esta aplicación necesita acceder a tu biblioteca de fotos para seleccionar videos.</string>

    <!-- Permiso para guardar en la biblioteca de fotos (si es necesario) -->
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Esta aplicación necesita guardar videos en tu biblioteca de fotos.</string>
	
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>couroMVP</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Bold.ttf</string>
	</array>

	
</dict>
</plist>
